@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&family=Righteous&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #01BB94;
  --secondary-color: #01BB94;
  --light-bg-color: #21272F;
  --dark-bg-color: #171C23;
}

html {
  font-size: 10px;
}

body {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
  letter-spacing: 1px;
  background-color: var(--light-bg-color);
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Righteous', cursive;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.7;
  margin-bottom: 1.5rem;
}

/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

/* Row */
.row {
  display: flex;
  gap: 40px;
}

/* Padding */
.py {
  padding: 80px 0px;
}

/* Large text */
.lg-text {
  font-size: 24px;
  margin-bottom: 1rem;
  font-weight: bold;
}

/* Primary Button */
.btn-primary {
  padding: 15px 24px;
  font-size: 16px;
  font-weight: 600;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
}

/* Primary Text Color */
.text-primary {
  color: var(--primary-color);
}

/* heading */
.h-txt {
  font-size: 40px;
  text-align: center;
  margin-bottom: 3rem;
}